/* Parent container */
.ResumeDiv {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: 100vh;
  font-family: "Roboto Slab", "Courier New", Courier, monospace;
  font-weight: 300;
}

/* Aspect ratio container */
.ResumeSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1.414;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.headerDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
}

.Name {
  flex: 1;
  text-align: center;
  font-size: 54px;
}

.ContactInfo {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.Email,
.ContactNumber,
.Location {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 0.3rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding: 0;
}

.EducationSection,
.ExperienceSection{
  padding: 0 1rem 0 1rem;
}

.entry{
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding: 0.5rem;
}

p{
  margin: 0;
  font-family: "Roboto Slab", "Courier New", Courier, monospace;
  font-size: 20px;
}

.school,
.companyName{
  font-weight: 500;
  font-size: 24px;
}

h1{
  font-size: 42px;
  margin: 0;
}

.lefty > p {
  text-align: end;
}

span{
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.description{
  width: 100%;
  flex-wrap: wrap;
}